:root{
    --main-blue-color:#011d44;
    --dark-blue:#0013338a;
    --orange:#f2a207;
    --white-color:#f7f6f5;
    --white-border-color:#ffffff2c;
    --main-font:'lato',verdana, sans-serif,
}

body{
    background-color:var(--main-blue-color);
    font-family: 'roboto', tahoma, sans-serif;
    color:var(--white-color);
    margin:0;
}
/* main{
    overflow: hidden;
}  */
#logo{
    width:65px;
    height:auto;
    margin-left:20px;
}
header{
    display: flex;
    justify-content: space-between;
    margin-top:20px;
    position:relative;
}
nav{
    margin-right:20px;
    position:absolute;
    left:33.3vw;
    display:none;
    background-color: #011d4485;
    z-index: 100;
}
nav ul li{
    list-style-type:none;
}
nav a{
    color:var(--white-color);
}
#hamburger-menu {
    display:none;
}
#hamburger-menu:checked ~ nav {
    display:block;
}
.menu-container{
    margin-right:30px;
    margin-top:10px;
}
.bar1, .bar2{
    width: 35px;
    height: 2px;
    background-color: var(--white-color);
    margin-top: 7px;
    border-radius: 1px;
    cursor:pointer;
    transition: 0.5s;
}
.bar3{
    width: 17.5px;
    height: 2px;
    background-color: var(--white-color);
    margin-top: 7px;
    border-radius: 1px;
    cursor:pointer;
    transition: 0.5s;
}
h1{
    font-family: var(--main-font);
    font-size:2.2em;
    font-weight: 400;
    width:100px;
    line-height: 100%;
    margin-left:15%;
    margin-top:50px;
    margin-bottom:10px;
    text-transform: capitalize;
}
h2{
    font-family: var(--main-font);
    font-size: 1.5em;
    font-weight: 300;
    margin-left:10%;
    margin-top:35px;
}
h3{
    color:var(--orange);
    font-size:1.3em;
    text-transform: capitalize;
    margin-bottom:0px;
    margin-top:0px;
    margin-left:45%;
}
h4{
    color:var(--white-color);
    margin-left:10%;
    font-size:1.1em;
    padding-bottom:10px;
    border-bottom: 1px solid var(--white-border-color);
}
.container-text{
    position: relative;
    padding:5px 0 10px 0px;
    max-width:80%;
    background-color:var(--dark-blue);
    top:115px;
}
p{
    color:var(--white-color);
}
a{
    text-decoration: none;
}
/* introduction container */
.orange-text{
    color:var(--orange);
    text-transform: capitalize;
}
#introduction-container{
    display: flex;
    flex-flow:row nowrap;
    margin-left:15%;
    margin-bottom:35px;
    max-width:85%;
}
#introduction-container p{
    line-height: 50%;
}
/* icons/styling images */
#orange-brackets{
    width:35px;
    height:45px;
    margin-right:10px;
    margin-top:5px;
}
#equal-icon{
    width:40px;
    height:15px;
    margin-left:15%;
    margin-bottom:25px;
}
#designer-developer-img{
    width:175px;
    height:auto;
    position:absolute;
    margin-left:45%;
    margin-top:150px;
    z-index: 100;
}
/* //////////////////////////////////////////// */

.background-size{
    width:100vw;
    max-width:100%;
    height:300px;
}
.background-img{
    background:url(/images/background-index-image.jpg)no-repeat;
    background-position:right 60% bottom 60%;
    opacity: 0.35;
}

/* work containers */

.work-container{
    width:400px;
    max-width:80vw;
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto;
    margin:0px auto;
    row-gap: 15px;
}
.project-container ul{
    color:var(--white-color);
    max-width:75%;
    margin:0px auto;
}
.project-container li{
    margin-bottom:20px;
    list-style-type: none;
    border-bottom: 1px solid var(--white-border-color);
    padding-bottom:20px;
}
/* Creates the yellow dash for the list */
.project-container li::before{
    display: block;
    float:left;
    content: "-";
    font-size:2em;
    width: 1em;
    margin-left: -1em;
    margin-top: -12px;
    color:#fff;
}
.change-list-container{
    background-color:#00133375;
    padding:5px 0px;
}
#the-bean, #csm-museum, #square-eyes{
    max-width:100%;
    height:200px;
}
#the-bean{
    background:url(/images/main-background-left.jpg)25% 25%/cover no-repeat;
}
#csm-museum{
    background:url(/images/newbg.jpg)25% 25%/cover no-repeat;
}
#square-eyes{
    background:url(/images/Cinema.jpg)25% 25%/cover no-repeat;
}
.container-p{
    font-weight:500;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:45%;
}
/* FOOTER */

footer{
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top:75px;
    padding-bottom: 50px;;
}
/* MEDIA QUERIES */

@media only screen and (min-width:500px){

    h2, #equal-icon {
        margin-left:25%;
    }
    
}
@media only screen and (min-width:900px){

    .background-size{
        height:350px;
    }

    h2, #equal-icon {
        margin-left:15%;
    }
    .work-container{
        width:85vw;
        max-width:85vw;
        display:flex;
        flex-flow: row;
        column-gap: 15px;
    }
    .project-container{
        width:30%;
    }
    h3, .container-p{
        margin-left:25%;
    }
}
@media only screen and (min-width:1100px){
    #logo{
        width:75px;
        margin-left:50px;
    }
    header{
        margin-top:20px;
    }
    nav{
        margin-right:5%;
        display:inline-block;
        position: relative;
        background:none;
    }
    nav ul li{
        display: inline;
        margin-left:10px;
    }
    .bar1, .bar2, .bar3{
        display:none;
    }
    h1{
        font-size:3.5em;
        line-height: 100%;
        margin-top:125px;
    }
    h1, #introduction-container{
        margin-left:15%;
    }
    h2{
        font-size: 1.8em;
        margin-top:200px;
    }
    h2, #equal-icon {
        margin-left:15%;
    }
    body::before{
        content:"";
        background: url(/images/background-index-image.jpg) 40%/cover no-repeat;
        position: fixed;
        left:50vw;
        top:0;
        right:0;
        bottom:0;
        opacity:0.35;
        z-index: 1;
    }
    #designer-developer-img{
        width:225px;
        left:28%;
        top:30vh;
    }
    .background-img{
        background:none;
    }
    .background-size{
        height:0;
    }
    .work-container{
        position: relative;
        z-index:2;
        width:1000px;
        max-width:75vw;
        margin-top:35px;
    }
    .project-container{
        width:30%;
    }
    .change-list-container{
        background-color:#001333a4;
    }
}
@media only screen and (min-width:1400px){
    h1{
        font-size:5em;
    }
    h1, #introduction-container{
        margin-left:20%;
    }
    h2{
        font-size: 2.2em;
    }
    h2, #equal-icon {
        margin-left:20%;
    }
    .work-container{
        margin-top:25px;
        column-gap: 35px;
    }
}