:root{
    --main-blue-color:#011d44;
    --orange:#f2a207;
    --white-color:#f7f6f5;
    --main-font:'lato',verdana, sans-serif,
}

body{
    background-color:var(--main-blue-color);
    font-family: 'roboto', tahoma, sans-serif;
    color:var(--white-color);
    margin:0;
}
main{
    overflow: hidden;
}
#logo{
    width:65px;
    height:auto;
    margin-left:20px;
}
header{
    display: flex;
    justify-content: space-between;
    margin-top:20px;
    position:relative;
}
nav{
    margin-right:20px;
    display:none;
    position:absolute;
    right:0;
    left:0;
    top:0;
    bottom:50vh;
    background-color: #011d447c;
    z-index: 100;
}
nav ul li{
    list-style-type:none;
}
nav a{
    color:var(--white-color);
}
#hamburger-menu {
    display:none;
}
#hamburger-menu:checked ~ nav {
    display:block;
}
.menu-container{
    margin-right:30px;
    margin-top:10px;
}
.bar1, .bar2{
    width: 35px;
    height: 2px;
    background-color: var(--white-color);
    margin-top: 7px;
    border-radius: 1px;
    cursor:pointer;
    transition: 0.5s;
}
.bar3{
    width: 17.5px;
    height: 2px;
    background-color: var(--white-color);
    margin-top: 7px;
    border-radius: 1px;
    cursor:pointer;
    transition: 0.5s;
}
h1{
    font-family: var(--main-font);
    font-size:2.2em;
    font-weight: 400;
    width:100px;
    line-height: 100%;
    margin-left:10%;
    margin-top:50px;
    margin-bottom:10px;
    text-transform: capitalize;
}
h2{
    font-family: var(--main-font);
    font-size: 1.5em;
    font-weight: 300;
    margin-left:10%;
    margin-top:35px;
}
h3{
    color:var(--orange);
    font-size:1.3em;
    text-transform: capitalize;
    z-index:99;
    margin-bottom:0px;
}
.container-text{
    position:relative;
    left:5%;
    top:100px;
    z-index:99;
}
p{
    color:var(--white-color);
}
a{
    text-decoration: none;
}
/* introduction container */
.orange-text{
    color:var(--orange);
    text-transform: capitalize;
}
#introduction-container{
    display: flex;
    flex-flow:row nowrap;
    margin-left:10%;
    margin-bottom:35px;
    max-width:85%;
}
#introduction-container p{
    line-height: 50%;
}
#orange-brackets{
    width:35px;
    height:45px;
    margin-right:10px;
    margin-top:5px;
}
#designer-developer-img{
    width:175px;
    height:auto;
    position:absolute;
    margin-left:35%;
    margin-top:150px;
    z-index: 100;
}
.background-size{
    width:100vw;
    max-width:100%;
    height:300px;
}
.background-img{
    background:url(/images/background-index-image.jpg)no-repeat;
    background-position:right 55% bottom 60%;
    opacity: 0.35;
}

/* work containers */
#work-container{
    display:flex;
    flex-flow: row wrap;
}
#equal-icon{
    width:40px;
    height:15px;
    margin-left:10%;
}
#the-bean, #csm-museum, #square-eyes{
    position: relative;
    margin-left:10%;
    height:100px;
    max-width: 90%;
    margin-bottom:100px;
}
#the-bean::before{
    content:"";
    position:absolute;
    background:url(/images/background-index-image.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    width:300px;
    height:200px;
    max-width: 90%;
    opacity: 0.50;
    z-index: 1;
}
#csm-museum::before{
    content:"";
    position:absolute;
    background:url(/images/background-index-image.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    width:300px;
    height:200px;
    max-width: 90%;
    opacity: 0.50;
    z-index: 1;
}
#square-eyes::before{
    content:"";
    position:absolute;
    background:url(/images/background-index-image.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    width:300px;
    height:200px;
    max-width: 90%;
    opacity: 0.50;
    z-index: 1;
}
.container-p{
    font-weight:500;
    margin-top:0px;
}
@media only screen and (min-width:350px){

    h2, #the-bean, #csm-museum, #square-eyes, #equal-icon {
        margin-left:15%;
    }
    .container-text{
        top:125px;
    }
}
/* #bg-pattern{
    background: url(/images/pattern.svg) right/cover no-repeat;
    background-position:right 55% bottom 60%;;
    width:100%;
    height:200px;
} */

/* 
body::before{
    content:"";
    background: url(/images/background-index-image.jpg) 40%/cover no-repeat;
    position: fixed;
    left:50vw;
    top:0;
    right:0;
    bottom:0;
    opacity:0.35;
    z-index: 1;
} */
